
<html>
    <head>
        <title>Sample App</title>
    </head>

    <body style="background-color: AliceBlue;">

	<fieldset style="background-color: white;">
    	<form method="POST" action="/uploadFile" enctype="multipart/form-data">
                 Select File <input type="file" value="file" name='file'/> <br/> <br/>
                 <input value="Compress!" type="submit"/>
	</form>
	</fieldset>

	<br/><br/>

	<fieldset style="background-color: white;">
	<form method="GET" action="/generateLoad">
                 Generate CPU Load <br/> <br/> <input type="submit"/>
	</form>
	</fieldset>

    </body>
</html>
